.j-btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0.5em 1em;
    cursor: pointer;
}

.add {
    color: #ffffff;
    background-color: #81c784;
}

.take {
    color: #000000;
    background-color: #bbdefb;
}

.give {
    color: #ffffff;
    background-color: #90a4ae;
}


.modal {
    padding: 20px;
    overflow-y: auto;
    max-height: 80%;
    height: 600px;
}
.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}
.modal > .content {
    width: 100%;
}
.modal > .result {
    width: 100%;
    border-top: 1px solid gray;
    margin-top: 20px;
    padding-top: 20px;
}

.field-record {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.field-record > input {
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: medium;
    font-family: cursive;
    color: #000a10;
}

.field-record > textarea {
    width: 100%;
    height: 200px;
    resize: none;
}

.comment-smena {
    height: 50px !important;
}

.field-record > button {
    width: 100px;
    height: 40px;
    margin: 5px;
}

.result {
    table-layout: fixed;
}

.result-date {
    width: 150px;
    word-wrap: break-word;
}
.result-text {
    width: 150px;
    word-wrap: break-word;
}

.field-signature {
    border: 1px solid gray;
    width: 100%;
    min-width: 500px;
    min-height:200px;
    background-color: white;
}

.sig-image {
    width: 100px;
    height: 25px;
    background-color: white;
}

