table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    text-align: left;
    border-bottom: 2px solid #373737;
    cursor: pointer;
}

tbody td {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
}

tbody tr:hover {
    background-color: #eee;
}

.search-input {
    width: 12px;
    border: none;
    border-bottom: 2px solid #373737;
    outline:none;
    padding: 2px 4px;
    margin: 2px 0;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

.search-input:focus {
    width: 50%;
}